.userDataDisplay {
    margin-top: 4.235rem;
    width: 100%;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    >h5 {
        font-size: 1.618rem;
        margin: 4.235rem 0 1.618rem 1rem;
        font-weight: 300;
        color: var(--dark-gray);
    }

    .userList {
        min-width: 100%;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        gap: 1rem;


        .userItem {
            border-radius: var(--box-border-radius);
            background-color: var(--listitem-background);
            filter: var(--item-shadow);
            min-width: 50%;

            div.info {


                >div.half {
                    display: flex;
                    padding: 1rem;
                    // gap: 1rem;
                    flex-grow: 1;
                    min-width: 50%;

                    >div {
                        width: 50%;

                        &:first-child {
                            padding-right: 1rem;
                        }

                    }

                }

            }

            div.buttonContainer {
                width: 100%;
                display: flex;
                // gap: 1rem;
                box-sizing: border-box;
                padding: 1rem;

                .button {
                    width: 100%;
                }
            }
        }

    }

    .nameLabel {
        display: flex;
        margin: 1rem;
        margin-bottom: 0;
        justify-content: space-between;

        div {
            display: flex;
            align-items: center;


            h4.emoji {
                margin: 0;
                font-size: 2.617rem;
                margin-right: 0.618rem;
            }

            h3 {
                margin: 0;
                font-size: 1.618rem;
            }

            label {
                font-size: 0.8rem;
            }

            h3.name {
                display: flex;

                label {
                    text-overflow: clip;

                    span {
                        display: block;
                        text-align: center;
                    }

                    span.kana {
                        font-size: 0.618rem;
                    }

                    span.kanji {
                        font-size: 1.618rem;
                    }
                }

                >:first-child {
                    margin-right: 0.618rem;
                }
            }
        }
    }

    .disabled {
        background-color: var(--listitem-deactivated-background) !important;
    }

    .deactivatedUser {
        color: var(--warning-red);
    }

}