.form {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    >div,
    a {
        display: flex;
        // width: fit-content;
        margin: 0 auto;
        gap: 1rem;
        justify-content: center;
    }

    >div {
        width: 60%;
    }
}

.input {
    width: 50%;
}

.textarea {
    width: 100%;
}

.button {
    width: 30%;
}