.lendingDataDisplay {
    width: 100%;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    >h5 {
        font-size: 1.618rem;
        margin: 4.235rem 0 1.618rem 1rem;
        font-weight: 300;
        color: var(--dark-gray);
    }

    .lendingList {
        min-width: 100%;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        gap: 1rem;

        .lendingItem {
            border-radius: var(--box-border-radius);
            background-color: var(--listitem-background);
            filter: var(--item-shadow);
            min-width: 50%;

            div.info {
                display: flex;
                padding: 1rem;
                // gap: 1rem;
                flex-grow: 1;
                min-width: 50%;

                >div {

                    width: 50%;

                    &:first-child {
                        padding-right: 1rem;
                    }
                }

                h3.name {
                    display: flex;
                    margin: 0;

                    label {
                        span {
                            display: block;
                        }

                        span.kana {
                            font-size: 0.618rem;
                            text-align: center;
                        }

                        span.kanji {
                            font-size: 1.618rem;
                        }
                    }
                }
            }

            div.buttonContainer {
                width: 100%;
                display: flex;
                gap: 1rem;
                box-sizing: border-box;
                padding: 1rem;

                .button {
                    width: 50%;
                }

            }

            .remarks {
                padding: 1rem;
                padding-top: 0;
            }

            .date {
                // background-color: white;
                border: 1px solid var(--dark-gray);
                padding: 1rem;
                border-radius: 10px;
                margin-bottom: 1rem;

                label {
                    display: block;
                    font-size: 0.618rem;
                    font-weight: 800;
                    margin-bottom: 0.18rem;
                }

                h5 {
                    font-size: 1rem;
                    margin: 0;
                }
            }

            .due {
                border: 1px solid var(--warning-red) !important;

                * {
                    color: var(--warning-red) !important;
                }
            }


        }

    }

    .nameLabel {
        display: flex;
        // margin-bottom: 1rem;
        padding-bottom: 0.618rem;
        cursor: pointer;
        width: 100%;
        display: flex;

        * {
            cursor: pointer;
        }

        h4.emoji {
            margin: 0;
            font-size: 2.617rem;
            margin-right: 0.3rem;
        }

        h3 {
            margin: 0;
            font-size: 1.618rem;
        }


        label {
            font-size: 0.8rem;
        }

        div {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    // .left {
    //     // padding-right: 2rem;
    // }

    // .right {}
    .left,
    .right {}

    .border {
        border: solid 2px white;
        padding: 1rem 0.4rem;
        border-radius: 10px;
        height: min-content;
    }

}