.binaryinput {
    >div {
        display: flex;
        gap: 1rem;

        >button {
            width: 50%;

        }
    }
}

.selected {
    background-color: var(--selection-blue) !important;
}