.messagePopup {
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    background-color: rgba(43, 43, 43, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;

    >div {
        width: fit-content;
        height: fit-content;
        background-color: aliceblue;
        border-radius: var(--box-border-radius);
        padding: 1.618rem;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 1.618rem;
        margin: 0 auto;

        >div {
            display: flex;
            justify-content: center;
            align-items: center;
            gap: 1rem;
        }

        p {
            font-size: 1rem;
            text-align: center;
            margin: 0 0 1rem 0;
            max-width: 400px;
            line-height: 1.618rem;
        }
    }
}

.button {
    width: 180px;
}


.datepicker {
    width: 200px;
    margin-bottom: 1.618rem;
}

.textArea {
    width: 100%;

    textarea {
        height: 100px;
    }

    margin-bottom: 1rem;
    gap: 0 !important;
    display: block !important;
}

.textInput {
    width: 100%;

    input {
        width: 100%;
    }


    margin-bottom: 1rem;
    display: block !important;
}

.emojiInput {
    display: flex;
    flex-direction: column;

    label {
        font-size: 4.23rem;
        margin: 1rem;
    }

    aside {
        margin-bottom: 1rem;
        height: 400px !important;
    }

}