.deviceDataDisplay {
    margin-top: 4.235rem;
    width: 100%;

    ul {
        padding: 0;
        margin: 0;
    }

    li {
        list-style: none;
    }

    .deviceList {
        min-width: 100%;
        display: grid;
        grid-auto-flow: dense;
        grid-template-columns: repeat(2, 1fr);
        list-style: none;
        gap: 1rem;


        .deviceItem {
            border-radius: var(--box-border-radius);
            filter: var(--item-shadow);

            div.info {
                display: flex;
                padding: 1rem;
                gap: 1rem;
                flex-grow: 1;
                max-height: 250px;
            }

            div.buttonContainer {
                display: flex;
                gap: 1rem;
                box-sizing: border-box;
                margin: 1rem;

                .button {
                    width: 50%
                }
            }
        }

    }

    .nameLabel {
        display: flex;
        margin-bottom: 1rem;
        padding-bottom: 0.618rem;

        * {
            cursor: pointer;
        }

        h4.emoji {
            margin: 0;
            font-size: 2.617rem;
            margin-right: 0.618rem;
            position: relative;

            label {
                position: absolute;
                right: 0;
                bottom: 0;
                font-size: 1rem;
            }
        }

        h3 {
            margin: 0;
            font-size: 1.618rem;
        }

        label {
            font-size: 0.8rem;
        }

        div {
            display: flex;
            align-items: center;
            flex-direction: column;
            justify-content: center;
        }
    }

    .left,
    .right {
        width: 50%;
        // border: solid 1px white;
    }

    .enabled {
        background-color: var(--listitem-background);
    }

    .disabled {
        background-color: var(--listitem-deactivated-background);
    }
}