.form {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 1rem;

    >div {
        display: flex;
        width: 60%;
        margin: 0 auto;
        gap: 1rem;
    }
}

.input {
    width: 50%;
}

.textarea {
    width: 100%;

    textarea {
        height: 150px;
    }

}

.button {
    width: 180px;
    margin: 0 auto;
}

.onebutton {
    margin: 0 auto;
    width: 180px;
}

.twobutton {
    // margin: 0 auto;
    width: 180px;
}

.buttonWrapper {
    display: flex;
    justify-content: center;
    margin-top: 1.618rem !important;
}