.userItem {
    border-radius: var(--box-border-radius);
    min-width: 50%;

    div.info {
        display: flex;
        padding: 1rem;
        // gap: 1rem;

        flex-grow: 1;
        min-width: 50%;

        >div {
            width: 50%;
        }

        >:first-child {
            padding-right: 1rem;
        }

        h3.name {
            display: flex;

            label {
                span {
                    display: block;
                }

                span.kana {
                    font-size: 0.618rem;
                    text-align: center;
                }

                span.kanji {
                    font-size: 1.618rem;
                }

            }

            >:first-child {
                margin-right: 0.618rem;
            }
        }
    }

    div.buttonContainer {
        width: 100%;
        display: flex;
        gap: 1rem;
        box-sizing: border-box;
        padding: 1rem;

        .button {
            width: 50%;
        }
    }
}


.nameLabel {
    display: flex;
    margin-bottom: 1rem;
    padding-bottom: 0.618rem;
    justify-content: space-between;
    align-items: center;

    div {
        display: flex;

        h4.emoji {
            margin: 0;
            font-size: 2.617rem;
            margin-right: 0.618rem;
        }

        h3 {
            margin: 0;
            font-size: 1.618rem;
        }

        label {
            font-size: 0.8rem;
        }
    }
}

.left {
    // padding-right: 2rem;
}

.right {}

.normal {
    background-color: var(--listitem-background);
}

.deactivated {
    background-color: var(--listitem-deactivated-background);
}

.deactivatedUser {
    color: var(--warning-red);
}