.deviceInfoSummery {
    border-radius: 10px;
    height: fit-content;
    border: solid 1px var(--light-gray);
    margin-bottom: 2.618rem;
    padding: 1rem 1rem;
    width: 100%;
    box-sizing: border-box;

    display: flex;
    flex-wrap: wrap;

    h5 {
        font-size: 1rem;
        width: 100%;
        margin: 0;
        margin-bottom: 0.618rem;
        font-weight: 200;
    }

    .statusBar {
        height: 1.618rem;
        min-width: 50%;
        display: flex;
        justify-content: space-between;
        border-bottom: 1px dotted var(--light-gray);

        >div {
            height: 1.618rem;

            label {
                height: 1.618rem;
                font-size: 0.8rem;
                padding-right: 0.618rem;
            }

            &:first-child {
                label {
                    font-size: 0.8rem;
                    color: var(--dark-gray);
                    font-weight: 500;
                }
            }
        }

        // &:nth-last-of-type(-n+2) {
        //     border-bottom: none;
        // }
    }
}